<div class="flex w-1/2 flex-wrap mb-5">
    {% for model, modelBody in models %}
        <a href="#{{model}}_model" data-group="{{model}}_model"
           class="model-deep-link no-underline px-4 py-1 border border-white rounded-full bg-yellow hover:bg-yellow-light hover:text-grey m-1">
            {{ model|capitalize }}
        </a>
    {% endfor %}
</div>